# Auto detect text files and perform LF normalization
* text=auto
*.yml filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.avi filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=lfs diff=lfs merge=lfs -text
*.yaml filter=lfs diff=lfs merge=lfs -text
*.Model[[:space:]]Yolov8l/detect/train/events.out.tfevents.1743506095.9fc74e90edf5.315.0 filter=lfs diff=lfs merge=lfs -text
